{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": ["jsx-a11y", "react"],
  "rules": {
    "semi": "error",
    "no-array-constructor": "warn",
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing": "warn",
    "react/jsx-equals-spacing": ["warn", "never"],
    "react/jsx-first-prop-new-line": ["warn", "multiline"],
    "react/jsx-handler-names": "warn",
    "react/jsx-indent": ["warn", 2],
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-key": "warn",
    "react/jsx-max-props-per-line": "warn",
    "react/jsx-no-bind": ["warn", {"allowArrowFunctions": true}],
    "react/jsx-no-comment-textnodes": "warn",
    "react/jsx-no-duplicate-props": ["warn", { "ignoreCase": true }],
    "react/jsx-no-undef": "warn",
    "react/jsx-pascal-case": ["warn", {
      "allowAllCaps": true,
      "ignore": []
    }],
    "react/jsx-sort-props": 0,
    "react/jsx-tag-spacing": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-wrap-multilines": "warn",
    "react/no-deprecated": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/no-is-mounted": "warn",
    "react/no-unused-prop-types": "warn",
    "react/prefer-es6-class": "warn",
    "react/prefer-stateless-function": 0,
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "warn",
    "react/require-render-return": "warn",
    "react/self-closing-comp": "warn",
    "react/sort-comp": "warn",
    "react/sort-prop-types": 0,
    "react/style-prop-object": "warn",
    "react/void-dom-elements-no-children": "warn",
    "jsx-a11y/aria-role": "warn",
    "jsx-a11y/no-access-key": "warn"
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(json|css|jpg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm)$",
    ],
    "import/extensions": [".js"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json"]
      }
    },
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }
  }
}
